* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
}


#main-header {
    background-color: #062847;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: center;
    padding: 10px 8px;
}




#search-input {
    width: 90%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.2s;
}

#search-input:focus {
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}


















#site-footer {
    background-color: #062847;
    color: white;
    text-align: center;
    padding: 15px 0;
}


@media (max-width: 530px) {
    .pokemon-card {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 14px;
    }

    #main-header {
        background-color: #062847;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 8px;
    }
}